@model List<string>
    
@if (ViewBag.ErrorMessages != null && ViewBag.ErrorMessages.Any())
{
    <ul class="error-messages">
        @foreach (var error in Model)
        {
            <li>@error</li>
        }
    </ul>
}